{% extends 'base/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_filters %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half">

<!--    filter-->
{% if filter %}
<form class="mb-5" action="" method="get">
  <div class="input-group">
    {% for field in filter.form %}
    <div class="select">{{ field }}</div>
    {% endfor %}
    {% if filter.is_bound %}
    {% translate "Clear" as clear %}
    <a href="{% url request.resolver_match.view_name %}" class="button"
       title="{{ clear }}">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-backspace"></i></span>
        <span>{{ clear }}</span>
      </span>
    </a>
    {% endif %}
    {% translate "Filter" as filter %}
    <button type="submit" class="button" title="{{ filter }}">
      <span class="icon-text">
        <span class="icon"><i class="bi bi-funnel"></i></span>
        <span>{{ filter }}</span>
      </span>
    </button>
  </div>
</form>
{% endif %}
<!--    filter-->
<!--content-->
{% if object_list %}
  {% for post in object_list %}
    <div class="card mb-5">
      <header class="card-header">
        <p class="card-header-title">{{ post.title }}</p>
      </header>
      <div class="card-content">
        <div class="content">{{ post.text }}</div>
      </div>
      <footer class="card-footer">
        {% block card-action %}
        <p class="card-footer-item">{{ post.date }}</p>
        <a href="{% url 'reply_create' post=post.pk %}" class="card-footer-item">{% trans "Reply" %}</a>
        <a href="?{% url_replace category=post.category.pk %}" class="card-footer-item">{{ post.category }}</a>
        {% endblock card-action %}
      </footer>
    </div>
  {% endfor %}
{% else %}
  <h2>{% trans "Nothing here!" %}</h2>
{% endif %}
<!--    content-->
<!--    pagination-->
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if page_obj.has_previous %}
  <a href="?{% url_replace page=page_obj.previous_page_number %}" class="pagination-previous">
    {% trans "Previous" %}</a>
  {% else %}
  <a class="pagination-previous is-disabled">{% trans "Previous" %}</a>
  {% endif %}
  <ul class="pagination-list">
    {% if page_obj.has_previous %}
    <li><a href="?{% url_replace page=1 %}" class="pagination-link">1</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a href="?{% url_replace page=page_obj.previous_page_number %}" class="pagination-link" aria-label="Goto page 45">
      {{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li><a class="pagination-link is-current" aria-current="page">
      {{ page_obj.number }}</a></li>
    {% if page_obj.has_next %}
    <li><a href="?{% url_replace page=page_obj.next_page_number %}" class="pagination-link">
      {{ page_obj.next_page_number }}</a></li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">
      {{ page_obj.paginator.num_pages }}</a></li>
    {% endif %}
  </ul>
  {% if page_obj.has_next %}
  <a href="?{% url_replace page=page_obj.next_page_number %}" class="pagination-next">{% trans "Next" %}</a>
  {% else %}
  <a class="pagination-next is-disabled">{% trans "Next" %}</a>
  {% endif %}
</nav>
<!--    pagination-->
  </div>
</div>
{% endblock content %}