{% if filter %}
{% load i18n %}
<form class="my-5" action="" method="get">
  <div class="level is-justify-content-center">
    {% for field in filter.form %}
    <div class="column m-0 p-0 level-item is-flex-grow-0 mx-1">
      <label class="label">{{ field.label }}</label>
      <div class="select">{{ field }}</div>
    </div>
    {% endfor %}
    {% if filter.is_bound %}
    {% translate "Clear" as clear %}
    <div class="is-align-self-flex-end level-item is-flex-grow-0 mx-1">
      <a href="{% url request.resolver_match.view_name %}" class="button"
         title="{{ clear }}">
        <span class="icon-text">
          <span class="icon"><i class="bi bi-backspace"></i></span>
          <span>{{ clear }}</span>
        </span>
      </a>
    </div>
    {% endif %}
    {% translate "Filter" as filter %}
    <div class="is-align-self-flex-end level-item is-flex-grow-0 mx-1">
      <button type="submit" class="button" title="{{ filter }}">
        <span class="icon-text">
          <span class="icon"><i class="bi bi-funnel"></i></span>
          <span>{{ filter }}</span>
        </span>
      </button>
    </div>
  </div>
</form>
{% endif %}