{% load i18n %}
<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'home' %}"
         class="navbar-item is-tab {% if request.path == '/' %}is-active{% endif %}">
        {% trans "Home" %}
      </a>
      {% if user.is_authenticated %}
      <a href="{% url 'user_posts' %}"
         class="navbar-item is-tab {% if 'my-posts' in request.path %}is-active{% endif %}">
        {% trans "My posts" %}</a>
      <a href="{% url 'replies' %}?accepted=false"
         class="navbar-item is-tab {% if 'replies' in request.path %}is-active{% endif %}">
        {% trans "Replies" %}</a>
      <a href="{% url 'profile' %}"
         class="navbar-item is-tab {% if 'user' in request.path %}is-active{% endif %}">
        {% trans "Profile" %}
      </a>
      {% endif %}
      <div class="navbar-item">
          <p class="control">
            <a class="button is-primary" href="{% url 'post_create' %}">
              <span>{% trans "New post" %}</span>
            </a>
          </p>
      </div>
      </div>


    <div class="navbar-end">
      <!-- Language selector-->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i class="bi bi-translate"></i>
        </a>
        <form action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}"/>
          <div class="navbar-dropdown">
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <button type="submit" name="language" value="{{ language.code }}"
                    class="navbar-item button is-text is-fullwidth">
              {{ language.name_local }}
            </button>
          {% endfor %}
          </div>
        </form>
      </div>
      <!-- Language selector-->
      <div class="navbar-item">
        <div class="buttons">
          {% if not user.is_authenticated %}
          <a href="{% url 'signup' %}" class="button is-primary"><strong>{% trans "Sign up" %}</strong></a>
          <a href="{% url 'login' %}" class="button is-primary is-outlined">{% trans "Sign in" %}</a>
          {% else %}
          <a href="{% url 'logout' %}" class="button is-link is-outlined">{% trans "Sign out" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>